body {
  height: 100%;
  background: linear-gradient(0deg, rgb(46, 51, 56) 46%, rgb(52, 57, 62) 74%);

  font-family: "Open Sans", sans-serif;
}

header {
  height: 120px;
}

#container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

main {
  min-height: 100%;
  position: relative;
}

aside {
  float: right;
  display: inline-block;
  position: relative;
  width: 470px;
  height: 370px;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 80px;
  border-style: none;
  color: #2e3338;
  background: #828587;
  box-shadow: inset 2px 2px 10px #373839, -2px -2px 10px #373839;

  font-size: 18px;
  font-weight: 400;
}

footer {
  margin-top: 8px;
  background: #2e3338;
  color: #828587;
  padding: 5px;
  clear: both;

  font-size: 80%;
  line-height: normal;
}

a {
  color: #4b80b4;
}

a:hover {
  color: #81abd5;
}

footer p {
  padding: 4px;
  text-align: center;
}

.clearfloat {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

#listJoke {
  text-decoration: underline;
}

#tred {
  font-size: 0.7em;
  margin-left: -50px;
  text-transform: uppercase;
}
